# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/.kotlin/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/Runner.xcworkspace/xcuserdata/
ios/.symlinks/

# Windows
windows/flutter/ephemeral/

# Release builds (never track binaries)
release/

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/


# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Flutter metadata
.metadata

# Test coverage
coverage/
